/* Reset */
html, body, header, h1, a, ul,
li, strong, main, section, h2,
form, label, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
  color: inherit;
  background: transparent;
  font-weight: inherit;
  z-index: inherit;
  line-height: inherit;
  transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -moz-transition: background .5s ease;
  cursor: inherit;
}

body {
  background: rgb(237, 237, 237);
  color: black;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  box-sizing: content-box;
  z-index: 0;
}

button {
  padding: 5px 10px;
  display: inline;
}

article > button {
  margin: 0 0 0 7px;
}

strong {
  font-weight: bold;
}

/*clearfix*/
.group:after {
  clear: both;
  content: "";
  display: block;
}

/*Colors*/
.red {
  border-radius: 2px;
  background: rgb(238, 148, 148);
  color: white;
}

.green {
  border-radius: 2px;
  background: rgb(129, 179, 127);
  color: white;
}

.yellow {
  border-radius: 2px;
  background: rgb(165, 179, 127);
  color: white;
}

.white {
  border-radius: 2px;
  background: rgb(92, 116, 153)
}

/* Container and Header */
main {
  min-height: 600px;
  background: white;
  margin: 20px;
  height: calc(100vh - 80px);
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(31, 40, 70);
  cursor: default;
}

header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: rgb(39, 59, 129);
  color: white;
}

header > section {
  padding: 0px 20px 10px 20px;
  height: auto;
}

#simpleDEA {
  padding: 20px 20px 10px 20px;
  font-size: 2em;
  line-height: 1em;
}

article {
  display: inline;
}

section h1 {
  display: inline;
}

input[type="text"] {
  display: inline;
  border-radius: 2px;
  background: rgb(200, 203, 241);
  padding: 2px 5px;
  border: 1px inset grey;
  color: rgb(47, 49, 120);
  cursor: text;
}

input[type="text"]:hover, input[type="text"]:focus {
  background: white;
}

.axis {
  font-size: 1em;
  padding: 10px 20px;
  background: rgb(75, 75, 75);
  color: white;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.title {
  float: left;
}

.view_opt {
  float: right;
}

.axis > h2:first-child::after {
  content: " (click row to view more info)";
}

/* UL */
ul {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#providers_container {
  height: calc(100% - 174px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0 0 2px rgb(5, 8, 17);
  z-index: 2;
}

ul h2 {
  padding: 5px 0px;
  display: inline;
  z-index: 0;
}

ul h2:not(:first-child) {
  font-size: 1em;
  padding: 5px 10px;
}

/* List Item */
li {
  list-style: none;
  padding: 10px 20px;
  width: calc(100% - 40px);
  border-bottom: 1px solid rgb(200, 203, 241);
}

#providers_container > li {
  box-shadow: 0px 1px 5px rgb(179, 188, 209);
  -webkit-transition-property: max-height, background;
  -webkit-transition-duration: .15s;
  -moz-transition-property: max-height, background;
  -moz-transition-duration: .15s;
  transition-property: max-height, background;
  transition-duration: .15s;
}

.detail > li:last-child {
  border-bottom: 0px;
}

.detail > li {
  width: 75%;
  border-bottom: 1px ridge rgb(136, 136, 136);
}

.detail .view_opt {
  padding: 0;
}

/* Hover */
#providers_container > li:hover,
#providers_container > .selected:nth-child(1n), li:hover{
  cursor: pointer;
  background: rgb(228, 234, 247);
}

button:hover {
  cursor: pointer;
  background: rgb(43, 53, 144);
}

@media (max-width: 900px) {
  main {
    width: 400px;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    width: 100%;
  }

  .filters > .view_opt {
    float: left;
    padding-top: 10px;
  }

  .axis .title::after {
    content: none;
  }

  #providers_container {
    height: calc(100% - 210px);
  }
}
